<a href="https://colab.research.google.com/github/Fitriasg/Belajar-Python/blob/main/Python_with_Pacmann.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 asik ='9519'

In [2]:
print(asik)

9519

In [3]:
angka_asik=int(asik)

In [4]:
print(angka_asik)

9519

In [5]:
float(angka_asik)

9519.0

In [6]:
str(angka_asik)

'9519'

In [7]:
10**2

100

In [8]:
5//2

2

In [9]:
10%2

0

In [10]:
-10 + 4 *(-5-4)

-46

In [11]:
(-10+4)*(-5-4)

54

In [12]:
-8.4 / (14/5)-5.6/(8/25)

-20.5

In [13]:
x = 4

In [14]:
# buatlah variabel 'nama' dengan nilai 'hewan
nama = 'hewan'
print()

In [15]:
# apabila salah nama
nama ='rizki'
nama

'rizki'

In [16]:
goalscorer = 'muller'
print(goalscorer)
goalscorer = 'lewandowski'
print(goalscorer)

muller
lewandowski

In [17]:
# buatlah variabel bayern dengan nilai 5, kemudian ubah nilanya menjadi 6

bayern = 5
print(bayern)
bayern = 6
print(bayern)

5
6

In [18]:
# aturan dalam membuat nama variabel
# yang di rekomendasikan 
nama = 'Rizky'
nama2 = 'Rizky'
_nama = 'Rizky'
print(nama)
print(nama2)
print(_nama)

Rizky
Rizky
Rizky

In [19]:
# Python sensitif case lower and upper variabel

In [20]:
gol = 6
gol

6

In [21]:
nama_mie = ['soto ayam', 'kari ayam', 'sambal matah']
nama_mie

['soto ayam', 'kari ayam', 'sambal matah']

In [22]:
# BOLEAN LOGIC

permen_anto = 10
permen_adi = 9

In [23]:
#operator ==
permen_anto == permen_adi

False

In [24]:
permen_anto != permen_adi

True

In [25]:
permen_anto > permen_adi

True

In [26]:
# Boolean logic

# AND, OR, NOT

In [27]:
# CONDITIONAL 
a= 70
if a == 80:
  print('nilai oke')
else:
  print('nilai ga oke')

nilai ga oke

In [28]:
harga_laptop = 2000000
uang_wawan = 1500000

In [29]:
if uang_wawan <= harga_laptop:
  print("gabisa beli laptop")

gabisa beli laptop

In [30]:
if uang_wawan >= harga_laptop:
  print("bisa beli laptop")
else:
  print("menabung dulu wan sampai cukup beli laptop")

menabung dulu wan sampai cukup beli laptop

In [31]:
laptop_fgh = 1200000
laptop_gdy = 1000000

In [32]:
if uang_wawan >= harga_laptop:
  print("bisa beli laptop")
elif uang_wawan >= laptop_fgh:
    print("beli laptop fgh") 
elif uang_wawan >= laptop_gdy:
      print("beli laptop gdy")
else:
  print("menabung dulu wan sampai cukup beli laptop")

beli laptop fgh

Nested conditionals
Yana saat ini bekerja sebagai sales sebuah brand sepeda motor. Tiap bulan, Yana perlu untuk menjual 10 sepeda motor. Namun, dari kantor dia bisa mendapatkan insentif jika mampu menjual 20 sepeda motor.

In [33]:
sales_yana = 5
target_sell = 10
target_insentif = 20

if sales_yana >= target_sell:
  print("Dapet Gaji")
  if sales_yana >= target_insentif:
    print('dapet insentif + gaji')
  else:
    print("Yana memenuhi target")
else:
  print("Yana belum memenuhi target")

Yana belum memenuhi target

In [34]:
sales_yana = 25
target_sell = 10
target_insentif = 20

if sales_yana >= target_sell:
  print("Dapet Gaji")
else:
  print("Yana belum memenuhi target")

Dapet Gaji

In [35]:
# LOOP

Pengulangan/Loop
Pengulangan atau looping adalah fitur dasar yang ada di Python.
Seperti namanya, fungsi fitur ini adalah untuk melakukan pengulangan / hal yang repetitif.
Misal:

- Menambahkan angka 100 kali.
- Menulis teks yang sama 50 kali.
- Mengirim e-mail secara otomatis.
dll.
Terdapat dua statement untuk looping yaitu:

- while
- for

Pada bab ini akan dibahas while terlebih dahulu. Namun, sebelum itu akan dijelaskan mengenai kelanjutan dari operasi aritmatika yang telah dipelajari.

- While Statement
- Basic While statement
- while statement adalah pernyataan untuk looping.
- while statement memiliki bentuk umum:
 while condition:


Yang berarti selama condition terpenuhi, maka akan terus mengulang run_this

In [36]:
# WHILE STATEMENT

# while condition:
# run_this

In [37]:
angka = 6 
while angka <= 5: # angka disini memenuhi kondisi while, maka looping akan berjalan
  print(angka) # menampilkan angka
  angka = angka + 1 # update nilai angka ditambah 1 untuk setiap loop/perulangan
  # kok ga keluar? karena 6 lebih dari bukan kurang dari sama dengan 5

In [38]:
angka = 6 
while angka >= 1: # angka disini memenuhi kondisi while, maka looping akan berjalan
  print(angka) # menampilkan angka
  angka -= 1

6
5
4
3
2
1

In [39]:
angka = 0
while angka <= 10: # angka disini memenuhi kondisi while, maka looping akan berjalan
  print(angka) # menampilkan angka
  angka += 1

0
1
2
3
4
5
6
7
8
9
10

In [40]:
 # MULTIPLE CONDITIONS

- Pada perkenalan ke while, hanya diberikan satu kondisi untuk menjalankan perintah.
- Bagaimana jika ingin menjalankan loop dengan kondisi banyak?
Jawabannya adalah dengan boolean logic:

- Pada pertemuan ke-3, telah dijelaskan mengenai boolean logic
- Intinya adalah menggabungkan beberapa kondisi menjadi kondisi dengan satu nilai, yaitu TRUE atau FALSE.

In [41]:
# Kita belum tahu berapa perulangannya dan code akan berenti jika kondisinya sudah terpenuhi 
a = 0
while a < 10 and a !=5: # a tidak sama dengan 5, sehingga akan berenti di kondisi kurang dari 5
  print(a)
  a += 1

0
1
2
3
4

In [42]:
a = 0
while a < 20 and a % 2 == 0: # akan berenti jika kondisi a%2==0 terpenuhi
  print(a)
  a += 1

0

**For Loop**

- Pada bab sebelumnya telah dipelajari while.
- Pada bab ini akan dipelajari for.
Perbedaan antar keduanya:
- while merupakan indefinite loops. Singkatnya, kita tidak tahu akan berapa banyak loop yang dijalankan.
- for merupakan definite loops. Yang berarti, kita sudah tahu objek apa yang akan di-loop.

In [43]:
i = 0
while i <= 4:
    print(i)
    i += 1

0
1
2
3
4

In [44]:
# untuk objek yang sudah kita ketahui berapa jumlah perulangannya

for i in 0,1,2,3,4:
  print(i)

0
1
2
3
4

**Range**
- Di penjelasan sebelumnya, telah dijelaskan bahwa untuk for kita harus mengetahui hal yang ingin di-loop terlebih dahulu.
- Contoh di atas memerlukan definisi secara manual, ini akan sangat tidak praktis jika hal yang ingin di-loop banyak.
- Untuk mengatasi hal tersebut digunakan fungsi range()
- Secara umum fungsi range memiliki bentuk seperti berikut: range(begin,end,step)
- begin adalah angka pertama di dalam - range, secara default adalah 0.
- end adalah angka 1 step setelah angka terakhir, tidak memiliki default.
- step adalah besar dari kenaikan atau penurunan, secara default adalah 1.

In [45]:
for i in range(10): # hitungan python dimulai dari 0
  print(i)

0
1
2
3
4
5
6
7
8
9

In [46]:
for i in range(2,6):
  print(i)

2
3
4
5

In [47]:
for i in range(15,0,-3): # untuk urutan menurun (akhir, awal, step)
  print(i)

15
12
9
6
3

Penulisan Kode

Apa yang telah dipelajari
- Kode adalah urutan dari instruksi.
- Meng-cover beberapa topik pemrograman sederhana yang mencakup branching dan looping.
- Membuat kode berbeda untuk keperluan yang berbeda pula.
- Membuat kode yang cukup kompleks untuk menyelesaikan masalah.

**Permasalahan**

- Kode dengan gaya penulisan yang telah dipelajari hanya mudah untuk problem sederhana.
- Untuk permasalahan yang lebih kompleks akan terlihat kompleks dan berantakan.
- Susah untuk melacak hal-hal detail.
- Susah untuk di-extend aplikasinya.

**Pemrograman yang Baik**

- Kode semakin banyak belum tentu semakin baik programnya.
- Bisa jadi itu adalah tanda seorang programmer yang tidak efisien.
- Agar program bisa lebih mudah untuk dibaca dan dimengerti dikenalkan 2 konsep yaitu:
- Dekomposisi
- Abstraksi

**Dekomposisi**

- Prinsip dasar dari dekomposisi adalah memecah-mecah kode menjadi - komponen-komponen yang lebih kecil.
- Bagian-bagian kecil ini akan disatukan dan bekerja secara bersama untuk mencapai suatu tujuan.
- Dengan memecah menjadi komponen yang lebih kecil, program akan terlihat lebih rapih.
- Dengan memecah menjadi komponen kecil juga, kesalahan atau error akan lebih mudah untuk dilacak.

- Untuk membuat mobil diperlukan komponen seperti ban, body, mesin, kursi, dll.
- Komponen-komponen tersebut dibuat oleh pabrik bersifat modular.
- Yang berarti dapat dicopot-pasang dan diganti-ganti.
- Sehingga, jika ada kerusakan pada suatu komponen, hanya komponen tersebut yang diganti (melokalisasi kerusakan):
- Jika ban depan bocor, maka yang diganti hanya ban depan saja.
- Jika lampu rusak, maka yang diganti lampu saja, tidak perlu semua sistem elektronik.

**Contoh pada kode:**

- Anda ingin membuat aplikasi untuk kasir.
- Aplikasi ini dapat membaca barcode, menghitung total belanja, dan menampilkan struk.
- Alangkah lebih baiknya jika anda tidak membuat aplikasi ini dalam satu kode panjang.
- Aplikasi dipecah-pecah menjadi aplikasi membaca barcode, aplikasi perhitungan, dan aplikasi menampilkan struk.
- Sehingga, misal tiba-tiba aplikasi perhitungan error, anda tidak perlu mengganti semua aplikasi.

**Abstraksi**

- Selain dekomposisi, abstraksi juga sangat penting.
- Konsep dari abstraksi adalah untuk membuat modul yang bisa digunakan tanpa harus mengerti cara kerjanya seperti apa.
- Ditujukan untuk membuat program lebih modular dan dapat dipakai oleh orang banyak (reusability).

- Lampu depan adalah salah satu bagian dari mobil.
- Yang membuat lampu, divisi elektronik, telah menyediakan kabel sebagai pengubung dan juga keterangan tentang kebutuhan listrik lampu.
- Divisi perakitan tidak tahu cara membuat lampu, dan cara kerja lampu.
- Dalam hal ini, divisi perakitan menganggap lampu sebagai black box.
- Namun karena ada keterangan dari divisi elektronik, divisi perakitan tahu bahwa lampu mobil membutuhkan listrik 20 watt dan dapat dipasang di mobil seri tertentu.

**Contoh pada kode:**

- Kembali lagi ke aplikasi kasir.
- Di dalam aplikasi kasir ini telah dibuat tiga modul, yaitu modul pembaca barcode, modul perhitungan, dan modul struk.
- Untuk menggunakan modul ini, orang tidak perlu tahu bagaimana cara kerja tiap-tiap modul.
- Orang lain hanya perlu tahu apa inputnya dan apa output dari modul tersebut.
- Sehingga, misalkan ada orang yang membutuhkan modul barcode, orang tersebut bisa tinggal memakai modul tersebut.

**Function**

-- Melanjutkan pembahasan yang sebelumnya, konsep dekomposisi dan abstraksi adalah hal yang cukup penting agar kode lebih mudah untuk dipahami, ditulis, dan juga untuk dirawat.
- function adalah cara untuk menerapkan konsep dekomposisi dan abstraksi di dalam pemrograman.

**Komponen Dasar** 

- Untuk mendefinisikan fungsi, digunakan def.
- Secara umum, bentuk fungsi dalam Python adalah sebagai berikut:

def nama_fungsi(parameter/argumen):
  kode

In [48]:
# def nama_fungsi(parameter/argumen):
#  kode

In [49]:
# Function

def print_halo(nama): # jika butuh input dalam () tulis nama inputnya apa
  nama = input("Masukkan Namamu : "+ "" + " " + ("Halo apa kabar" + " "))

print_halo(nama)

Masukkan Namamu :  Halo apa kabar ani

**Fungsi sederhana**
Contoh:

- Dibuat fungsi dibawah untuk menampilkan "Halo"
- Ketika dijalankan, kode dibawah tidak akan langsung mengeluarkan "Halo".
- Namun, kode dibawah disimpan di dalam memori.

- Kesalahan yang sering terjadi ketika membuat fungsi adalah:

   - Lupa menggunakan ()
   - Lupa titik dua :

**Fungsi yang mengembalikan hasil.**

- Di atas telah dicontohkan fungsi untuk menampilkan hasil.
- Namun, pada bab sebelumnya ditekankan bahwa fungsi ini digunakan untuk membuat kode menjadi modular.
- Lalu, bagaimana agar kita bisa menggunakan nilai yang telah diolah pada fungsi?
- Gunakan return, dengan return kita bisa mengambil nilai yang telah diolah di dalam fungsi.

**Fungsi dengan Parameters/Arguments**

- Parameters/arguments adalah nama lain dari input fungsi.
- Untuk menggunakan parameter, kita hanya perlu mendefinisikan variabel di fungsi:
Contoh:

In [50]:
def dua_tambah_tiga():
  angka = 2+3
  return angka

In [51]:
hasil = dua_tambah_tiga()
print(hasil)

5

- Kita dapat mendefinisikan beberapa parameter sekaligus
- Namun, untuk hal ini, urutan yang dimasukkan ke dalam fungsi harus sama dengan urutan nama variabel
- Namun, jika kita menggunakan parameter, pastikan semua variabel terisi.
- Jika tidak akan error

**Keyword Arguments**

- Pada pengenalan parameters/arguments diberikan contoh fungsi dengan banyak parameter.
- Dengan cara tersebut, urutan nilai yang dimasukkan ke fungsi harus sama dengan urutan nama variabel parameter.
- Jika ingin tidak urut, dapat digunakan keyword arguments

In [52]:
def print_teks(teks):
  print(teks)

In [53]:
print_teks("Halo, nama saya budi")

Halo, nama saya budi

In [54]:
def print_banyak(nama, hewan, jumlah):
  print(nama + " " + "mempunyai"+ " " + str(jumlah) + " " + " " + hewan)

In [55]:
print_banyak("Adi","Kambing", "10")

Adi mempunyai 10  Kambing

In [56]:
# jika lupa urutan bisa pakai keyword

print_banyak(nama="Ida", jumlah=90, hewan="Kucing")

Ida mempunyai 90  Kucing

**Data Structure 1 : Tuple **

Tuple
- Tuple adalah struktur data yang terdiri dari beberapa elemen dan memiliki urutan.
- Tuple direpresentasikan dengan tanda kurung ()

In [57]:
simpel_tuple = (1,3,5,7,8,10)

In [58]:
print(type(simpel_tuple))

<class 'tuple'>

In [59]:
urut_1 = simpel_tuple[0]
urut_2 = simpel_tuple[1]
urut_3 = simpel_tuple[2]
urut_4 = simpel_tuple[3]

In [60]:
print(simpel_tuple[3])

7

In [61]:
tuple_campur = ("es campur", 20, "nasi goreng", 60, "daging semur")

In [62]:
print(type(tuple_campur))

<class 'tuple'>

In [63]:
print(tuple_campur[3]) # akses dari depan

60

In [64]:
print(tuple_campur[-3])

nasi goreng

In [65]:
print(type(tuple_campur[2]))

<class 'str'>

In [66]:
# latihan membuat tuple 

# Buatlah tuple buah dengan 5 nama buah-buahan

buah = ("anggur", "apel","jeruk", "jambu", "mangga")

In [67]:
print(type(buah))

<class 'tuple'>

In [68]:
print(buah[0:3])

('anggur', 'apel', 'jeruk')

In [69]:
for nama in buah: # untuk memanggil semua data tuple satu persatu
  print(nama)

anggur
apel
jeruk
jambu
mangga

In [70]:
# Menghitung panjang tuple

len(buah) # mulai dari 1, jika index mulai dari 0

5

In [71]:
# Menghitung jumlah elemen tertentu
angka = (3,2,4,6,7,8,9,10,11,12,13,14,15,10,10,0,73,10,10,101)
angka.count(10) # Fungsi count untuk mencari berapa banyak data yang sama dalam tuple

5

In [72]:
print(type(angka))

<class 'tuple'>

In [73]:
bank = ('BCA','BNI','BRI','MANDIRI','JENIUS')
bank.index('BCA')

0

LATIHAN

1. Hitunglah ada berapa banyak angka 5 pada tuple berikut

In [74]:
tuple_angka =(3,2,1,4,3,5,6,7,3,5,7,8,5,5,2,5,8,9,2,2,5,7,9,3,5)

tuple_angka.count(5)

7

2. Carilah index dari "Genesis" dari tuple berikut

In [75]:
band = ("AC/DC", "Dreamtheater","Metallica","Slipknot","The Police","Led Zeppelin", "Pink Floyd","Genesis")

In [76]:
band.index("Genesis")

7

**Tuple dalam tuple**

Sebuah tuple dapat memiliki tuple lagi di dalam elemennya

In [77]:
tuple_of_tuple = (1,2,(3,"John",4),"Hi")

In [78]:
tuple_of_tuple[0]

1

In [79]:
tuple_of_tuple[2][1]

'John'

**Dimana Tuple dipakai?**

- Secara umum, penggunaan tuple di Python cukup jarang.
- Namun, tuple merupakan tipe struktur data yang paling cepat dalam segi waktu pemrosesan.
- Tuple biasanya digunakan ketika perlu menyimpan data konstan yang tidak diubah.

In [80]:
def operation(num_1,num_2):
  multiply = num_1 * num_2
  addition = num_1 + num_2
  return multiply, addition

result_return = operation(4, 3)
result_return

(12, 7)

**List**

- List adalah salah satu bentuk struktur data
- Sangat mirip dengan tuple
- Mendefinisikan list dapat dilakukan dengan kurung siku []

In [81]:
list_1 = [1, 2, 3, 4]

print(type(list_1))

<class 'list'>

In [82]:
for i in list_1:
  print(i*2)

2
4
6
8

In [83]:
list_2 =['x','y','z']

In [84]:
print(list_2[2]) # cara akses harus pake []

z

In [85]:
list_3 = list_1 + list_2 # list x list tidak bisa, dikurang juga tidak bisa meskipun sudah sesama int
print(list_3)

[1, 2, 3, 4, 'x', 'y', 'z']

In [86]:
list_3[4] = 5 # cara mengganti list secara langsung, berbeda dengan tuple

In [87]:
print(list_3)

[1, 2, 3, 4, 5, 'y', 'z']

In [88]:
list_4 = list()

In [89]:
list_4 = [1,2,"bagus","adi"]

print(list_4)

[1, 2, 'bagus', 'adi']

In [90]:
print(list_4[2:4])

['bagus', 'adi']

**LATIHAN **

1. Buatlah list teman yang berisi 5 nama teman anda

In [91]:
nama_teman = ['raka','dio','sintang','suryo','ricky','junet']

In [92]:
print(nama_teman)

['raka', 'dio', 'sintang', 'suryo', 'ricky', 'junet']

In [93]:
print(nama_teman[2:4])

['sintang', 'suryo']

2. Tambahkanlah 2 list berikut

In [94]:
buah_1 = ['mangga','melon','semangka']
buah_2 = ['sawo','rambutan','kelengkeng']

In [95]:
campur = nama_teman + buah_1 + buah_2

In [96]:
print(campur)

['raka', 'dio', 'sintang', 'suryo', 'ricky', 'junet', 'mangga', 'melon', 'semangka', 'sawo', 'rambutan', 'kelengkeng']

In [97]:
list_nama_teman = list(['angga','andra','paijo']) # Membuat list juga bisa seperti ini

In [98]:
print(list_nama_teman)

['angga', 'andra', 'paijo']

**Perbedaan List dengan Tuple**

- Sampai sejauh ini dapat dilihat bahwa list sangat mirip dengan tuple
- Namun, perbedaannya adalah:
- Elemen pada list dapat diubah
- Namun tuple tidak

In [99]:
# contoh perbedaannya
# LIst
angka_acak = [1,2,3,4,5]
angka_acak[2]= 34 
print(angka_acak)

[1, 2, 34, 4, 5]

In [100]:
tuple_con = (1,2,3,4,5) # tidak bisa langsung diubah nilainya
tuple_con[1] = 34
print(tuple_con)

TypeError: ignored

**Manipulasi Elemen dalam List**

1. Menambahkan elemen pada list

In [101]:
list_ex = [1,2,3,4]
print(list_ex)

[1, 2, 3, 4]

In [102]:
list_ex.append("Fifth Element") # cara memanipulasi list menambah elemen dibelakang
print(list_ex)

[1, 2, 3, 4, 'Fifth Element']

In [103]:
list_ex.insert(0,100) # menambah elemen di depan dengan urutan index keberapa dan nilainya (0,100)
print(list_ex)

[100, 1, 2, 3, 4, 'Fifth Element']

In [114]:
list_ex.extend([4,1,6,3,4])  # tuple tapi dimanipulasi pakai list
(list_ex)

[1, 4, 6, 'Fifth Element', 100, 4, 3, 2, 1, 4, 1, 6, 3, 4]

**2. Menghapus elemen pada list**

In [105]:
list_ex.pop() #

4

In [106]:
res_pop =list_ex.pop() # membuang elemen lagi

In [107]:
print(list_ex)

[100, 1, 2, 3, 4, 'Fifth Element', 4, 1, 6]

In [108]:
res_pop

3

In [116]:
list_ex.pop(3) # menghapus list sesuai urutan index

'Fifth Element'

**3. Sorting elemen list**

In [117]:
list_ex.sort() # karena "Fifth element" string dan tidak tau nilainya makannya di hapus dulu pakai pop
list_ex  # diurutkan dari yang paling kecil

[1, 1, 1, 2, 3, 3, 4, 4, 4, 4, 6, 6]

In [111]:
list_ex.reverse()  # diurutkan dari yang paling besar 
list_ex

[6, 1, 4, 'Fifth Element', 100, 4, 3, 2, 1]

**4. Mencari index elemen dan menghitung jumlah elemen**

In [118]:
list_ex.index(4) # mencari index dengan menuliskan nilai yang akan dicari

6

In [119]:
list_ex.count(1)

3

**Latihan **

1. Tambahkanlah 'ciplukan' pada akhir list buah berikut

In [120]:
buah_buah = ['kedondong','salak','belimbing','nanas','pepaya']
buah_buah

['kedondong', 'salak', 'belimbing', 'nanas', 'pepaya']

In [121]:
buah_buah.insert(0,'ciplukan')
buah_buah

['ciplukan', 'kedondong', 'salak', 'belimbing', 'nanas', 'pepaya']

In [122]:
buah_buah.append('ciplukan') # menambah elemen pakai append

In [123]:
buah_tambah = (['ciplukan'])

In [124]:
buah_buah_campur = buah_buah + buah_tambah # pakai cara lama karena nambah satu

In [125]:
buah_buah

['ciplukan', 'kedondong', 'salak', 'belimbing', 'nanas', 'pepaya', 'ciplukan']

2. Urutkanlah angka pada list yang diberikan:

In [126]:
list_angka_angka = [8,6,7,5,4,2,3,1,10,17,33,25,45,67]

In [127]:
list_angka_angka.sort() # dari kecil ke besar
list_angka_angka

[1, 2, 3, 4, 5, 6, 7, 8, 10, 17, 25, 33, 45, 67]

In [128]:
list_angka_angka.reverse() # dari besar ke kecil
list_angka_angka

[67, 45, 33, 25, 17, 10, 8, 7, 6, 5, 4, 3, 2, 1]

**Slicing List**

In [129]:
list_5 = [100,6,4,4,3,3,2,1,1]
list_5[-1]

1

In [130]:
list_5[0]

100

In [131]:
list_5[-3:] # Dipanggil dari belakang

[2, 1, 1]

In [132]:
list_5[0:5]

[100, 6, 4, 4, 3]

In [133]:
list_5[1:-1] # tidak sampai nilai terakhir

[6, 4, 4, 3, 3, 2, 1]

In [134]:
list_5[-1:-3] # tidak bisa karena urutannya harus yang lebih kecil yaitu -3 dahulu

[]

In [ ]:
list_5[-3:-1] # list tidak bisa slicing kebelakang

In [136]:
list_5[3:1] # untuk urutan positif harus dari yang lebih kecil dahulu

[]

In [137]:
list_5[1:3]

[6, 4]

In [140]:
3*list_5 # list_5 diulang 3x

[100,
 6,
 4,
 4,
 3,
 3,
 2,
 1,
 1,
 100,
 6,
 4,
 4,
 3,
 3,
 2,
 1,
 1,
 100,
 6,
 4,
 4,
 3,
 3,
 2,
 1,
 1]

In [141]:
#list_5 #clear untuk menghapus elemen list_5

In [165]:
list_6 = [1,2,3]
list_6

[1, 2, 3]

In [166]:
list_7 = list_6.copy()

In [167]:
list_6

[1, 2, 3]

In [168]:
list_7[0]=98 # list_6 diubah list 7 ikut diubah. sehingga butuh fungsi copy agar tidak otomatis ikut ganti nilainya

In [169]:
list_7

[98, 2, 3]

In [170]:
list_6 # yang benar tidak ikut berubah sehingga harus pakai.copy()

[1, 2, 3]